#container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#heading {
  opacity: 0;
  margin-bottom: 0%;
  margin-top: 2%;
}

#submit {
  font-family: 'Inconsolata', monospace;
  background: transparent;
  border: none;
  color: rgba(207, 207, 207, 0.807);
  font-size: 21px;
  position: relative;
  animation:bouncy 5s infinite linear;
  transition: 2s;
  padding: 5px 15px 5px 15px;
  margin-top: 5px;
  letter-spacing: -1px;
}

#submit:hover {
  text-shadow: 0 0 15px #ff71f6, 0 0 15px #34fff5;
  color: rgb(253, 99, 225);
  cursor: pointer;
  transition:all .5s ease-in-out;
}

ul#navbar {
  display:inline;
  opacity: 0;
  padding: 0%;
  margin-top: -10px;
  margin-bottom: 15px;
}
ul#navbar li {
  display:inline;
  padding: 0 30px 0 30px;

}

body {
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color:rgb(248, 248, 248);
  height: 100vh;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body:focus {
  outline: none !important;
}

form {
  opacity: 0;
}

.message {
  width: 91%;
  margin-top: 0px;
  height: 100px;
  resize: vertical;
  color: #FFF;
  background: transparent;
  border: none;
  border-bottom: 1px dashed rgba(238, 238, 238, 0.232);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 1s box-shadow;
  outline: none; 
}

.message:hover {
  box-shadow: 0 0 20px rgba(251, 251, 251, 0.156);
}

.content {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
}

.line {
  display: flex;
  opacity: 0;
  gap: 5em;
  width: 0%;
  padding-top: 5px;
  top: 0;
  left: 50%;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.668);
  text-align: center;
  animation: line 2s linear forwards;
  
}

p {
  font-size: medium;
}

a {
  font-family: 'Inconsolata', monospace;
  display: inline;
  font-size: xx-large;
  text-decoration: none;
  position: relative;
  color:rgb(248, 248, 248);
}

a::after{
  content: "";
  background: white;
	mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover::after{
	height: calc(100% + 8px)
}

.wordsClick {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 30px yellow;
  animation: move 2s linear infinite;
}

h1 {
  position: relative;
  left: 27%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #9effed;
  letter-spacing: 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

h1::before {
  content: "dyln.bk";
  position: relative;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgba(255, 165, 237, 0.869) 2px,
    rgba(255, 103, 232, 0.845) 4px
  );
  -webkit-background-clip: text;
  background-clip: text;
  top: 0px;
  left: 316px;
  z-index: -1;
  transition: 1s;
}

h1::after {
  content: "dyln.bk";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent 2px,
    rgb(177, 255, 249) 2px,
    rgb(142, 255, 234) 4px
  );
  -webkit-background-clip: text;
  background-clip: text;
  top: 0px;
  left: 349px;
  transition: 1s;
}

h1:hover:before {
  top: 5px;
  left: 320px;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgba(255, 131, 241, 0.869) 2px,
    rgba(255, 103, 232, 0.845) 4px
  );
}

h1:hover:after {
  top: -5px;
  left: 345px;
  background-image: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent 2px,
    rgb(0, 0, 0) 2px,
    rgb(0, 255, 255) 4px
  );
} 

@keyframes bouncy {
  0%{top:0em}
  40%{left:0em}
  43%{left:-0.2em}
  46%{left:0em}
  48%{left:-0.1em}
  50%{left:0em}
  100%{top:0em;}
}

@keyframes move {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes line {
  from {
    left:50%;
    width:0%;
  }
  to {
    left:0%;
    width:100%;
  }
}

@media (max-width: 750px) {
  a {
    display: block;
    margin-top: -35px;
  }

  .content {
    width: 80%;
    left: 10%;

  }

  h1 {
    left: 50%;
    letter-spacing: 2px;
  }

  body {
    width: 100%;
    font-size: 40px;
  }

  h1::before {
    content: none;
  }
  
  h1::after {
    content: none;
  } 

  .message {
    margin-top: -35px;
    width: 80%;
  }

}

html {
  visibility: visible;
  opacity: 1;
}

